
.jnina{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.tumi:hover{


  transform: scale(1.1);
}


.backimage{

  background-image:url(Assets/Hero-bg.png);
  height: 500px;
}

.onno{


  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-left:55px;
  margin-right:50px;
}

.vallagena{
width: 1445px;
height: 250px;
background-color:#dfdffe ;

margin-left: 50px;
margin-right: 100px;
border-radius: 30px;
text-align: center;
padding-top: 30px;

  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  position:relative
}
.moja{

  margin-left: 3px;
}
.moja:hover{
  transform: scale(1.1);



}
.oro:hover{

  transform: scale(1.1);
}
.logo:hover{  transform: scale(1.1);}


.container{
display: flex;
justify-content: space-between;
 margin-left: 100px;
 margin-right: 100px;
 height: 250px;

    
  
 
}

.item {
      color:blue; /* A light blue tone for the numbers */
      font-weight: bolder;
      font-size: 2rem;
      font-family: Arial, sans-serif;
    }
      
    .rumi{
color: black;
font-weight: lighter;
font-size: small;
opacity: 70%;

    }
    .muti{



       text-align:center ;
       font-family: Arial, sans-serif;
       margin-bottom: 90px;
    }
    .container2{

display:flex;

margin-right: 40px;
margin-left: 40px;
    }
    .suar{
background-color:whitesmoke;

height: 195px;
width: 500px;
border: 2px;
margin-left: 10px;
margin-right: 10px;
border-radius: 30px;
padding: 30px;
margin-top: 0;
    }
.tui{


  margin-top: 5px;
}
.hudai{

display: flex;
align-items: center;
}
