
.jnina{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.tumi:hover{


  transform: scale(1.2);
}


.backimage{

  background-image:url(Assets/Hero-bg.png);
  height: 500px;
}

.onno{


  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-left:50px;
  margin-right:50px;
}